body{
    color:hsl(120, 59%, 19%)
}

h1{ 
    color: hsl(120, 80%, 12%); }
html {
    font-family: Roboto, fantasy ;
} 
h1 {text-align: center;}
h1 {text-size-adjust: 200%;}
p{ text-indent: 50px;}


#self {
    border-radius: 30%;
    boarder-style: solid
    border-width: 20px;
    border-color: hsl(160, 67%, 13%);
    image-orientation: 0 auto;
}
body { 
    background-color: hsl(240, 13%, 3%)}

    section {
        border: solid 10px hsla(199, 69%, 23%, 0.6);}