body{
    color:hsl(120, 59%, 19%)
}

h1{ 
    color: hsl(120, 39%, 39%);
background-color: hsl(199, 66%, 23%, 0.6); }
html {
    font-family: Roboto, fantasy ;
} 
h1 {text-align: center;}
h1 {text-size-adjust: 200%;}
p{ text-indent: 50px;}


#self {
    display: block;
    border-radius: 80%;
    border-style: inset;
    border-width: 5px;
    border-color: hsl(160, 67%, 13%);
    margin: 0 auto;
    transition: all 2s;
  
}

#self:hover {
    border-radius: -30%;
}
body { 
    background-color: hsl(240, 13%, 3%)}

    section {
        border: solid 5px hsla(199, 69%, 23%, 0.6);
        padding: 2rem;
        margin: 3rem;
    }

   .work {
    border-style: ridge;
    border-color: hsla(33, 95%, 36%, 0.715);
   }

   button {
    border-radius: 40%;
   transition: all .3s;

   }
   button:hover {
    color: hsl(0, 2%, 24%);
    background-color: rgb(61, 9, 9);
   }
